html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

.panel{
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan{
    border-bottom: 2px solid #c6e1f9;
}

.pricing-plan:last-of-type{
    border-bottom: none;
}

.pricing-img{
    margin-bottom: 20px;
    max-width: 100%;
}

.pricing-header{
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features{
    margin: 40px 0 20px 0;
    color: #016ff9;
}

.pricing-features-item{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 0;
    border-top: 2px solid #c6e1f9;
}

.pricing-features-item:last-of-type{
    border-bottom: 2px solid #c6e1f9;
}

.pricing-price{
    color: #016ff9;
    display: block;
    font-size: 2rem;
    font-weight: 700;
}

.pricing-button{
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    text-decoration: none;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    transition: background-color 0.2s ease-in-out;
}

.pricing-button:is(:hover, :focus){
    background-color: #e1f1ff;
}

.pricing-button.is-featured{
    background-color: #48aaff;
    color: white;
}

.pricing-button.is-featured:is(:hover, :focus){
    background-color: #269aff;
}

@media (min-width: 900px){
    .panel{
        flex-direction: row;
    }
    .pricing-plan{
        border-bottom: none;
        border-right: 2px solid #c6e1f9;
        padding: 25px 50px;
    }
    .pricing-plan:last-of-type{
        border-right: none;
    }
}